@import "tokens";

* {
    box-sizing: inherit;
}
*:before {
    box-sizing: inherit;
}
*:after {
    box-sizing: inherit;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
  }

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  }

body, html {
    font-size: $base * 4;
    color: $colour-text-default;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 33px;
    line-height: $base * 10;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    line-height: $base * 6;
}

p {
    font-family: "Montserrat";
    line-height: 1.6;
}


.colour-text-brand {
    color: $colour-text-brand;
    font-weight: 600;
}


.btn {
    height: $base * 12;
    width: 100%;
    border-radius: $base * 1.75;
    text-align: center;
    display: block;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
    background-image: linear-gradient(161deg, #04A558 0%, #158760 100%);
    color: white;

    // Overrides
    border: 0;
    outline: 0;

    &--fade {
        background-color: $stone-50;
        background-image: none;
        color: $leaf-500;
    }

    &__group {
        margin-bottom: 1.5rem;

        button {
            margin-bottom: 0.5rem;

            &:last {
                margin-bottom: 0;
            }
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    &__actions {
        display: flex;
        align-items: center;

        img {
            width: auto;
            margin-left: 2rem;
        }
    }
}

.product {

    &__list {
        margin: 0;
        padding: 0;

        li {
            position: relative;
            list-style: none;
            border-bottom: 1px solid $stone-100;
            padding: 0.75rem 0;
            font-family: "Montserrat";

            &:after {
                position: absolute;
                content: "";
                height: 1rem;
                width: 1rem;
                right: 0.5rem;
                background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU5LjEgKDg2MTQ0KSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5JbnNpZ2h0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBpZD0iSW5zaWdodCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMyNi4wMDAwMDAsIC00LjAwMDAwMCkiIHN0cm9rZT0iIzAwMDAwMCI+CiAgICAgICAgICAgIDxnIGlkPSJHcm91cC0yIj4KICAgICAgICAgICAgICAgIDxnIGlkPSJhcnJvdy1kb3duLTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyNy4wMDAwMDAsIDguMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTAuMzA5MTQyODU3LDAuMzU4Mjg1NzE0IEw2LjY2NjI4NTcxLDcuNTQyODU3MTQgQzYuNzIwNTE2ODQsNy42MDQxNjI1MyA2Ljc5ODQzNjA2LDcuNjM5MjY1NzIgNi44ODAyODU3MSw3LjYzOTI2NTcyIEM2Ljk2MjEzNTM2LDcuNjM5MjY1NzIgNy4wNDAwNTQ1OSw3LjYwNDE2MjUzIDcuMDk0Mjg1NzEsNy41NDI4NTcxNCBMMTMuNDUyLDAuMzU4Mjg1NzE0IiBpZD0iUGF0aCI+PC9wYXRoPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=");
            }

            &.active:after {
                background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU5LjEgKDg2MTQ0KSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5JbnNpZ2h0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBpZD0iSW5zaWdodC0vLVVwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzI0LjAwMDAwMCwgLTQuMDAwMDAwKSIgc3Ryb2tlPSIjMDAwMDAwIj4KICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTIiPgogICAgICAgICAgICAgICAgPGcgaWQ9ImFycm93LWRvd24tMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzMyLjAwMDAwMCwgMTIuMDAwMDAwKSBzY2FsZSgxLCAtMSkgdHJhbnNsYXRlKC0zMzIuMDAwMDAwLCAtMTIuMDAwMDAwKSB0cmFuc2xhdGUoMzI1LjAwMDAwMCwgOC4wMDAwMDApIj4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMC4zMDkxNDI4NTcsMC4zNTgyODU3MTQgTDYuNjY2Mjg1NzEsNy41NDI4NTcxNCBDNi43MjA1MTY4NCw3LjYwNDE2MjUzIDYuNzk4NDM2MDYsNy42MzkyNjU3MiA2Ljg4MDI4NTcxLDcuNjM5MjY1NzIgQzYuOTYyMTM1MzYsNy42MzkyNjU3MiA3LjA0MDA1NDU5LDcuNjA0MTYyNTMgNy4wOTQyODU3MSw3LjU0Mjg1NzE0IEwxMy40NTIsMC4zNTgyODU3MTQiIGlkPSJQYXRoIj48L3BhdGg+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
            }
        }
    }

    &__slider {
        margin-bottom: 2rem;
    }

    &__thumbnail {
        max-width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }

    &__title {
        margin: 0.5rem 0 2rem 0;
    }

    &__price {
        margin: 0.5rem 0 2rem 0;
    }
}

.product__section {
    margin-bottom: 2rem;

    &__title {
        font-weight: bold;
    }

    &__subtitle {
        margin: 1.5rem 0 0.5rem 0;
    }
}

.product__ingredients {
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
    }

    li {
        display: inline-flex;
        background-color: $stone-100;
        border-radius: 3px;
        padding: 0.2rem 0.5rem;
        margin-right: 0.5rem;
        color: $night-500;
        vertical-align: middle;
        align-items: center;
        text-decoration: none;
        font-weight: 600;

        img {
            width: 1rem;
            height: 1rem;
            fill: white;
            margin-left: 0.5rem;
        }
    }

}


.ingredient {
    background-color: #E6F0ED;
    border-radius: 20px;
    padding: 1.5rem;

    &__title {
        margin: 0 0 0.5rem 0;
    }

    &__rating {
        margin: 0 0 1rem 0;
    }

    &__summary {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 1rem;
        }

        &__label {
            font-weight: 700;
            display: block;
            margin-bottom: 0.25rem;
        }
    }

    &__section {
        &__title {
            font-size: 24px;
            line-height: 1.4;
        }
    }
}


.question {
    margin: 0 0 1.5rem 0;

    &__list {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    &__title {
        margin: 0 0 0.5rem 0;
    }

    &__answer {
        margin: 0;
    }
}

.product-group {
    width: 100%;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    &__thumbnail {
        display: block;
        margin-bottom: 0.5rem;
    }

    li {
        position: relative;
        display: inline-flex;
        max-width: 160px;
        margin-right: 1rem;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__title {
        position: relative;
        display: block;
        text-align: left;
        word-wrap: normal;
        white-space: normal;
        margin: 0;
    }

    &__brand {
        position: relative;
        display: block;
        color: $colour-text-brand;
        font-weight: 700;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }
}

.product-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__thumbnail {
        display: block;
        margin-bottom: 0.5rem;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }

    li {
        box-sizing: border-box;
        position: relative;
        display: inline-flex;
        max-width: 180px;
        width: 50%;
        flex-basis: 50%;
        margin-bottom: 2rem;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__title {
        position: relative;
        display: block;
        text-align: left;
        word-wrap: normal;
        white-space: normal;
        margin: 0;
    }

    &__brand {
        position: relative;
        display: block;
        color: $colour-text-brand;
        font-weight: 700;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }
}


.ingredient-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__thumbnail {
        display: block;
        margin-bottom: 0.5rem;
        width: 100%;
    }

    &__search {
        margin-bottom: 1rem;

        .input {
            height: 44px;
            border-radius: 3px;
            width: 100%;
            padding: 0 1rem;
            font-size: 16px;
            border: 1px solid #CED7D5;
        }
    }

    &__searching {
        margin-bottom: 1rem;
    }

    li {
        box-sizing: border-box;
        position: relative;
        display: inline-flex;
        margin-bottom: 0.5rem;
        padding: 1rem;
        width: 100%;
        border-radius: 5px;
        font-size: 20px;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__title {
        position: relative;
        display: block;
        text-align: left;
        word-wrap: normal;
        white-space: normal;
        margin: 0;
    }

    &__brand {
        position: relative;
        display: block;
        color: $colour-text-brand;
        font-weight: 700;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }
}

.select {
    height: $base * 12;
    width: 100%;
    border-radius: $base * 1.75;
    border: 1px solid $stone-100;
    padding: 0 1rem;
    font-size: $base * 4;
    margin-bottom: 1rem;
}


.reviews {

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style: none;
        padding: 1rem 0;
        border-bottom: 1px solid $stone-100;

        &__bio {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }

        &__name {
            margin: 0;
            font-size: $base * 3.5;
            line-height: $base * 5;
        }

        &__job {
            margin: 0;
            font-size: $base * 3.5;
            line-height: $base * 4;
            font-weight: 700;
            color: $stone-500;
        }

        &__thumbnail {
            width: $base * 11;
            height: $base * 11;
            overflow: hidden;
            border-radius: 50%;
            background-color: $stone-50;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;

            &:before {
                position: absolute;
                z-index: -1;
                border: 1px solid #398F93;
                border-radius: 50%;
                width: $base * 13;
                height: $base * 13;
                content: "";
            }

            &-img {
                display: block;
                width: 100%;
            }
        }

        &__description {
            font-family: "Montserrat";
            font-size: $base * 3.5;
            line-height: $base * 6;
            font-weight: 500;
        }
    }
}
