$sea-500: #1B90EC;

$stone-50: #E6F0ED;
$stone-100: #CED7D5;
$stone-500: #6C706F;

$leaf-500: #04A558;
$leaf-600: #158760;

$vibrant-1: #7176E6;
$vibrant-2: #F79B7A;
$vibrant-3: #F8DE8F;

$night-500: #1A202C;

$base: 4px;


$colour-text-default: $night-500;
$colour-text-brand: $sea-500;
